.container_main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.container_filtro {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem 1.25rem;
}

.resumo_financeiro {
    color: var(--color-grey-1);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
}

.buttons_filter {
    color: var(--color-grey-1);
    font-family: var(--font-family-1);
    font-size: var(--font-size-3);
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid var(--color-brand-3);
    border-radius: 8px;
    cursor: pointer;
}

.buttons_filter:hover, .buttons_filter:focus {
    border: 2px solid var(--color-brand-1);
    color: var(--color-brand-1);
    background-color: var(--color-brand-3);
}

.button_filtro {
    display: flex;
    gap: 1.25rem;
    flex-direction: row;
}

@media(min-width: 900px) {
    .container_main {
        justify-content: center;
        align-items: center;
    }

    .container_filtro {
        width: 100%;
        padding: 3rem 0rem;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}