.container_soma {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 1.25rem ;
    padding: 1rem 1.25rem;
    border-radius: 8px;
    font-size: var(--font-size-3);
    background-color: var( --color-brand-3);
    color: var(--color-grey-1);
}


@media(min-width: 900px) {
    .container_soma{
        width: 100%;
        padding: 15px 20px;
        margin: 0;
    }
}